#header{
    border-radius: 40px;
   margin-top: 21px;
    width:95%;
    margin-left: 40px;
    margin-right: 10px;
    background-color: #753d75;
    margin-bottom: 29px;


}

.Container{
   /* background: rgba(19, 18, 18, 0.79);*/
    width:87%;
    height: fit-content;
   /* margin-top:40px;
    margin-left:20px;*/
    margin: auto;
    padding:15px;
    border-radius: 20px;
     box-shadow: rgb(193, 57, 203) 0px 5px 15px;

}

#body{
    background: #b9a99c78;
}

#logo{
    color: rebeccapurple;
    font-style: oblique;
    font-weight: bold;
    font-size: 20px;
}

.Label{
    color: white;
    font-size: 28px;
    margin-top:10px;
    margin-left:40px;
    margin-bottom:10px;

}

img{
    /*width: 300px;
    height: 309px;*/
    width: 50%;
    height: fit-content;
    box-shadow: rgb(193, 57, 203) 0px 5px 15px;
}

.Mrow{
    display: flex;
    flex-direction: row;

}

.Mrow>div{
    width:50%;
    justify-content: space-between;
    margin-right: 15px;
}

.btns>button{
    margin-right: 5%;
    width: 18%;
}


.Mytable{
    margin-top:30px;
    margin-left:150px;
    box-shadow: rgb(193, 57, 203) 0px 5px 15px;
}

#image{
    margin-top:8px;
    box-shadow: rgb(193, 57, 203) 0px 5px 15px;
}

.CustomerImage{
    margin-top:30px;
    box-shadow: rgb(193, 57, 203) 0px 5px 15px;
}

/*#ItemImage{*/
/*    width:50%*/
/*}*/


#row-1col-2{

    box-shadow: rgb(193, 57, 203) 0px 5px 15px;
}

#itemForm{
    margin-top:40px;
}

#ItemDetailCard{
    background: #c98fc9
}



#invoiceDetailCard{
    background: #c98fc9

}

.search-container{
    display:flex;
    justify-content: space-between;
}

.Mytable{
    border-radius: 20px;
    margin-left:5px;
    /* width: 79%; */
    padding: 27px
}

.formLabel{
    color: #753d75;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: center;
}

button{
    background-color: #753d75;
    color: whitesmoke;
    border-radius: 20px;
    margin-right: 20px;
}
/*-------------------------------------------------*/
@media only screen and (max-width: 980px) {
    .Mytable{
        margin-left:0px;

    }

    #image{
        margin-bottom: 30px;
    }

   #invoiceDetails {
        margin-bottom: 30px;
    }

    #ItemDetails {
        margin-bottom: 30px;
    }


}



@media only screen and (max-width: 980px) {

}







